.center {
    padding: 25px 10px;
    text-align: center;
    background-image: linear-gradient(to right, blue, indigo);
    color: white;
}
.dayBorder {
    padding: 10px;
    border-width: 4px;
    border-style: ridge;
}
.city {
    width: 100%;
    background-color: rgb(206, 201, 201);
    border: none;
    padding: 15px;
    margin-top: 5px;
    text-decoration: none;
    font-size: 22px;
    border-radius: 5px;
}
input {
    width: 100%;
    height: 50px;
}
.search-btn {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.flex{
    display: flex;
}
.margin-size {
    margin-right: 1.5rem;
}
.margin-height{
    margin-top: 2rem;
}
#five-day-container {
    margin-top: 1rem;
}